:root {
  --primary: #1abc9c;
  --dark: #16a085;
  --dark-grey: #2c3e50;
  --accent: #34495e;
  --text: #333;
  --divider: #f1f2f6;
  --error: #d63031;
  --hint: #a4b0be;
  --hint2: rgba(223, 220, 221, 0.5);
  --font-family: "Pattaya", sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
